html, body{
  margin: 0;
  padding: 0;
}
.container{
  width: 60%;
  margin: 5% auto 0 auto;
  text-align: center;
}
.name{
  margin-bottom: 60px;
  margin-top: 60px;
}
.get-lucky{
  outline: none;
  padding: 8px 20px;
  border-radius: 4px;
  border: 1px solid #000000;
  background-color: #000000;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  transition: all .2s ease-in;
  margin-top: 30px;
}
.get-lucky:hover{
  background-color: #ffffff;
  color: #000000;
}
.get-lucky:disabled{
  background-color: #f2f2f2;
  color: grey;
  border: 1px solid grey;
}
.candidates, .prize{
  font-size: 18px;
  margin-bottom: 10px;
}